In [73]:
import pandas as pd
import pickle

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [60]:
data = pd.read_parquet('./../datasets/silver/train-not-null.parquet')

In [61]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,F G73,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,E121,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,F G73,S

In [62]:
# clean up useless data for machine learning
list(enumerate(data.columns))
data.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)

In [63]:
# encode data
encoder = LabelEncoder()
for col in data.select_dtypes('O').columns:
    data[col] = encoder.fit_transform(data[col])

In [64]:
# save encoded data
data.to_parquet('./../datasets/silver/train-encoded-not-normalize.parquet')

In [65]:
# scaled X and save X, y
X = data.drop(['Survived'], axis=1)
y = data['Survived']

In [66]:
scaler = StandardScaler()
scaled_X = scaler.fit_transform(X)

In [71]:
X_train, X_test, y_train, y_test = train_test_split(scaled_X, y, \
                                                    test_size=.2, random_state=42)

In [72]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 8), (179, 8), (712,), (179,))

In [74]:
# save as pickle
with open('./../datasets/silver/titanic-train-test-data.pkl', 'wb') as file:
    pickle.dump([X_train, X_test, y_train, y_test], file)