In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt 
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder, StandardScaler
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

In [2]:
PLOT_MEDIUM = (8,8)
sns.set_style('darkgrid')

In [3]:
data = pd.read_csv('./../../../Datasets/Credit Card Customer Data.csv')

In [4]:
data.shape

(660, 7)

In [5]:
data.head()

,Sl_No,Customer Key,Avg_Credit_Limit,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
0,1,87073,100000,2,1,1,0
1,2,38414,50000,3,0,10,9
2,3,17341,50000,7,1,3,4
3,4,40496,30000,5,1,1,4
4,5,47437,100000,6,0,12,3

In [6]:
# Missing values
data.isna().sum()

Sl_No                  0
Customer Key           0
Avg_Credit_Limit       0
Total_Credit_Cards     0
Total_visits_bank      0
Total_visits_online    0
Total_calls_made       0
dtype: int64

In [7]:
data.duplicated().sum()

0

In [8]:
def compute(df_, n_clusters_):
    model = KMeans(n_clusters=n_clusters_, random_state=42)
    model.fit(df_)
    return model